
        {{#each post}}
        {{#dataValues}}
       
        <div class="divBody">
            
            <img class="imgLogo" src="../imagem/logo labelle 2.jpg" alt="">
            <form class="cadProdutos" method="post" action="/editar">
                <div class="campoInput">
                     <input type="hidden" name="id" value="{{id}}">
                    <p>Nome:</p>
                    <input class="inputText" type="text" id = "nome" name="nome">
                </div>
                <div class="campoInput">
                    <p>Preço:</p>
                    <input class="inputText" type="text" id = "preco" name="preco">
                </div>
                <div class="campoInput">
                    <p>Quantidade:</p>
                    <input class="inputText" type="text" id = "qtd" name="qtd">
                </div>
                <div class="campoInput">
                    <p>Data de vencimento:</p>
                    <input class="inputText" type="date" id = "data_vencimento" name="data_vencimento">
                </div>
                
                <div class="campoInput">
                    <p>ImagemURL:</p>
                    <input class="inputText" type="text" id = "URLimg" name="URLimg">
                </div>
                <button class="cadButton">Editar</button>
            </form>
            {{/dataValues}}
        {{/each}}
        </div>
    