
    <div class="container">
    <nav>
        <ul>
            <li>
                <a href="/pagina_produtos">Produtos</a>
            </li>
            <li>
                <a href="/pagina_contatos">Contatos</a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="center">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/D40yc7B/logo-labelle-2.jpg" alt="logo-labelle-2" border="0"></a>
        </div>
    </header>
    <h1>
        Nossa História
    </h1>
    <h2>

    </h2>
    <h3>
        A perfumaria Labelle surgiu em 2014, onde a fundadora
        Efigênia após ouvir diversos relatos de mulheres com
        baixa auto estima sofrerem por causa de aparência decidiu
        criar um empreendimento voltado para estética e cosmetologia
        onde essas mulheres se sintam acolhidas para construir uma
        nova imagem e recuperarem sua auto estima.

    </h3>
</div>
